@import url(assets/css/header.css);
@import url(assets/css/content.css);
@import url(assets/css/separate.css);
@import url(assets/css/stats.css);
@import url(assets/css/showstats.css);
body{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background-color: rgb(247, 233, 220);
}

@media screen and (max-width: 3840px){
    
.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    }
}