.header{
    background-color: rgb(236,117,93);
    width: calc(100vw - 2rem);
    height: 8rem;
    margin: 3.65rem auto 0 auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__balance{
    width: 80%;
    height: 80%;
}

.header__balance--title{
    color: white;
    margin-left: 1rem;
    margin-top: 2rem;
}

.header__balance--value{
    font-size: 1.75rem;
    margin-left: 1rem;
    color: white;
    font-weight: 700;
}

.header__logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 3rem;
}


@media screen and (max-width: 3840px){
    .header{
        max-height: 7.5rem;
        max-width: 34rem;
    }
}